%% -*- erlang -*-
{erl_opts,[debug_info, warnings_as_errors]}.
{deps_dir, ["deps"]}.
{deps, [{cowboy, ".*",
         {git, "https://github.com/extend/cowboy", "d3277b08ce"}},
        {proper_stdlib, ".*",
         {git, "https://github.com/spawngrid/proper_stdlib.git", "master"}},
        {proper, ".*",
         {git, "https://github.com/manopapad/proper.git", {tag, "v1.0"}}},
        {poolboy, ".*",
         {git, "https://github.com/devinus/poolboy.git", {tag, "0.9.1"}}},
        {gproc, ".*",
         {git, "https://github.com/uwiger/gproc.git", {tag, "v0.2.10"}}},
        {nakaz, ".*",
         {git, "https://github.com/HollyBrolly/nakaz.git", "master"}},
        {base32, ".*",
         {git, "https://github.com/andrewtj/base32_erlang.git", "40431a7480"}},
        {jiffy, ".*",
         {git, "https://github.com/davisp/jiffy.git", {tag, "0.6.1"}}},
        {deputy, ".*",
         {git, "https://github.com/treetopllc/deputy.git", "e17d5ca758"}},

        {sync, ".*", {git, "git://github.com/rustyio/sync.git"}}]}.
